{% extends 'base.html' %}
{% block title %}Password Checker{% endblock %}
{% block content %}
<div class="glow-card">
  <h2 class="text-cyan">Password Strength Checker</h2>
  <form method="POST">
    <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
    <button type="submit" class="btn btn-neon mt-3">Check Strength</button>
  </form>
  {% if strength %}
    <div class="mt-4 alert">
      <strong>Strength:</strong> <span class="fs-4">{{ strength }}</span>
    </div>
  {% endif %}
</div>
{% endblock %}
